.env

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
  
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm

env/
static_files/



zNuxtjs/
node_modules/

__pycache__/





media/
logs/
db.sqlite3
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*.*.*
  







