{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر رمز عبور</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
</head>
<body>

    <!-- Hamburger button -->
    <button class="menu-toggle" id="menuToggle">&#9776;</button>

    <div class="dashboard-container">

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>داشبورد</h2>
            <ul>
                <li><a href="{% url 'accounts:dashboard' %}">پروفایل من</a></li>
                <li><a href="{% url 'accounts:edit_profile' %}">ویرایش پروفایل</a></li>
                <li><a href="{% url 'accounts:change_password' %}" class="active">تغییر رمز عبور</a></li>
                <li><a href="{% url 'core:home' %}">بازگشت به خانه</a></li>
                <li><a href="{% url 'accounts:logout' %}">خروج از حساب</a></li>
            </ul>
        </aside>

        <!-- Main -->
        <main class="main-content">
            <h1>تغییر رمز عبور</h1>

            <form class="form-card" method="post">
                {% csrf_token %}
                <label>رمز عبور فعلی:</label>
                <input type="password" name="current_password" placeholder="رمز فعلی خود را وارد کنید" required>

                <label>رمز عبور جدید:</label>
                <input type="password" name="new_password" maxlength="20" placeholder="رمز جدید را وارد کنید" required>

                <label>تکرار رمز عبور جدید:</label>
                <input type="password" name="confirm_new_password" maxlength="20" placeholder="تکرار رمز جدید را وارد کنید" required>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p style="font-size: 12px; color: red; text-align: right;">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <button type="submit" class="btn">ذخیره تغییرات</button>
            </form>
        </main>

    </div>

    <script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>

</body>
</html>
