{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فراموشی رمز عبور</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
    <div class="auth-container">
        <h2>بازیابی رمز عبور</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}"
                         style="background-color: green; color: white; margin-bottom: 10px; padding: 5px; border-radius: 5px">
                        {{ message }}
                    </div>
                {% endfor %}
                <script>
                    setTimeout(function () {
                        document.querySelectorAll('.alert').forEach(function (el) {
                            el.style.display = 'none';
                        });
                    }, 5000);
                </script>
            {% endif %}
            <input type="email" name="email" id="email" placeholder="ایمیل خود را وارد کنید">
            <button type="submit" class="btn">ارسال کد تایید</button>
        </form>

        <div class="auth-links">
            <a href="{% url 'accounts:username_login' %}">بازگشت به ورود</a>
        </div>
    </div>
</body>
</html>
