{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تنظیم رمز عبور جدید</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
    <div class="auth-container">
        <h2>تنظیم رمز عبور جدید</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p style="font-size: 12px; color: red; text-align: right;">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <input type="password" name="new_password" maxlength="20" placeholder="رمز عبور جدید">
            <input type="password" name="confirm_new_password" maxlength="20" placeholder="تایید رمز عبور جدید">
            <button type="submit" class="btn">ذخیره رمز عبور</button>
        </form>
    </div>
</body>
</html>
